[submodule "lib/zeroclipboard"]
	path = lib/zeroclipboard
	url = https://github.com/zeroclipboard/zeroclipboard.git
[submodule "lib/google-api-php-client"]
	path = lib/google-api-php-client
	url = git@github.com:google/google-api-php-client.git
